<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sova</title>
</head>
<body>


Общий
<a href="/">Главная</a>
<a href="{% url 'plans' %}">План мероприятий</a>
<a href="#">Q&A</a>
<a href="#">Стена достижений</a>
<a href="#">Сбор вторсырья</a>
<hr>

{% if request.user.is_staff %}


    Модераторы
    <a href="{% url 'events' %}">Редактирование мероприятий</a>
    <a href="{% url 'appeals' %}">Обращения</a>
    <a href="{% url 'port_generator' %}">Генератор наградных документов</a>
    <a href="{% url 'inprogress' %}">Вторсырье</a>


    <hr>
{% endif %}

{% if request.user.is_authenticated %}
    Зарегистрированный пользователь: {{ request.user.username }}
    <a href="#">Рейтинг</a>
    <a href="{% url 'profile' %}">Личный кабинет</a>
    <a href="{% url 'ask moderator' %}#autoScroll">Чат с модератором</a>
    <a href="{% url 'portfolio' %}">Портфолио</a>
    <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>

    {% else %}
    Незарегистрированный пользователь
    <a href="{% url 'login' %}?next={{ request.path }}">Войти</a>

{% endif %}

{% if request.user.is_superuser %}
    <hr>
    Администратор
    <a href="/admin/">Панель управления</a>
    <a href="#">Добавление студента</a>

{% endif %}

<hr style="height: 20px; background-color: black">


<br>

{% block content %}
{% endblock %}

<br>

<div style="background: bisque; padding: 1rem; margin-left: -1rem; margin-right: -1rem; margin-top:  3rem;">

    Тут будет футер страницы

</div>


</body>
</html>