{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sova</title>
    <link rel="stylesheet" href="{% static 'events/css/base.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "events/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "events/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "events/favicon/favicon-16x16.png" %}">

{#    <meta http-equiv="refresh" content="5">#}

    {% block extrahead %}
    {% endblock %}

</head>
<body>

    <header>
        <img src="{% static 'events/images/0.jpg' %}" alt="site theme">

        <div class="logos">
            <img src="{% static 'events/images/logo.png' %}" alt="Guardiands Logo">
            <img src="{% static 'events/images/college.png' %}" alt="College Logo">
        </div>

        <div class="navigation">
            <div><a href="/">Главная</a></div>
            {% if request.user.is_staff%}
                <div>
                    Модерация
                    <ul>
                        <li><a href="{% url 'events' %}#main_content">Редактирование мероприятий</a></li>
                        <li><a href="{% url 'appeals' %}#main_content">Обращения</a></li>
                        <li><a href="{% url 'inprogress' %}#main_content">Генератор наградный документов</a></li>
                        {% if request.user.is_superuser %}
                            <li><a href="/admin">Панель управления</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <div>
                О нас
                <ul>
                    <li><a href="{% url 'plans' %}#main_content">План мероприятий</a></li>
                    <li><a href="{% url 'achievement wall' %}#main_content">Стена достижений</a></li>
                    <li><a href="{% url 'raiting' %}#main_content">Рейтинг</a></li>
                    <li><a href="{% url 'recyclables' %}#main_content">О сборе вторсырья</a></li>
                    <li><a href="{% url 'FAQ' %}#main_content">ЧаВо</a></li>
                </ul>
            </div>
            {% if request.user.is_authenticated %}
                <div>
                    Профиль
                    <ul>
                        <li><a href="{% url 'profile' %}#main_content">Личный кабинет</a></li>
                        <li><a href="{% url 'portfolio' %}#main_content">Портфолио</a></li>
                        <li><a href="{% url 'ask moderator' %}#autoScroll">Обратная связь</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            {% else %}
                <div><a href="{% url 'login' %}">Войти</a></div>
            {% endif %} 


        </div>
         <h1>ХРАНИТЕЛИ МУДРОСТИ</h1>
        

    </header>

    <section id="main_content">
    {% block content %}
    {% endblock %}
    </section>

</body>
</html>