<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sova</title>
</head>
<body>


Общий
<a href="/">Главная</a>
<a href="{% url 'plans' %}">План мероприятий</a>
<hr>
Модераторы
<a href="{% url 'events' %}">Редактирование мероприятий</a>
<a href="{% url 'port_generator' %}">Генератор наградных документов</a>
<a href="/admin/">Админка джанго</a>

<hr>
Зарегистрированный пользователь
<a href="#">Рейтинг</a>
<a href="#">Личный кабинет</a>

<hr>
Незарегистрированный пользователь
<a href="#">Войти</a>
<hr style="height: 20px; background-color: black">



<br>

{% block content %}
{% endblock %}

<br>

<div style="background-color: bisque; width: 100%;">

    Тут будет футер страницы

</div>


</body>
</html>