{% extends 'events/base.html' %}

{% block content %}

    <h1>Редактирование мероприятия</h1>

    <br>

    <form action="{% url 'edit event' event_id=event_id %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Обновить</button>
        <button onclick="location.href='{% url 'delete event' event_id=event_id %}'">Удалить</button>
        <button onclick="location.href='{% url 'event' event_id=event_id %}#main_content'">Отмена</button>

    </form>




{% endblock %}