{% extends 'events/base.html' %}

{% block content %}

    <h1>{{ event.title }}: Редактирование плана
    </h1>

    <br>

    <form action="{% url 'edit plan' event_id=event.pk plan_id=plan.pk %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Обновить</button>
        <button onclick="location.href='{% url 'delete plan' event_id=event.pk plan_id=plan.pk %}#main_content'">Удалить</button>
        <button onclick="location.href='{% url 'plan' plan_id=plan.pk %}#main_content'">Отмена</button>


    </form>




{% endblock %}