{% extends 'events/base.html' %}

{% block content %}

    {% if request.user.is_staff %}
    <a href="{% url 'events' %}#event_{{ event.pk }}" >
        <div>К списку мероприятий</div>
    </a>
    {% endif %}
    <h1>{{ event }}</h1>

    {% if request.user.is_staff %}
        <a href="{% url 'edit event' event_id=event.pk %}#main_content" class="specialbutton">
            <div>
                Редактировать
            </div>
        </a>
    {% endif %}



    <br>

    <p>
        {{ event.description }}
    </p>

    <hr>

    <h3>Свойства</h3>

    <ul>
        <li>
            Тип мероприятия: {{ type }}
        </li>
        <li>
            Уровень мероприятия: {{ level }}
        </li>

        <li>
            Статус: {{ weorg }}
        </li>
    </ul>

    <hr>

    <h3>Планы</h3>
    <ul>

            {% if request.user.is_staff %}
                <li><a href="{% url 'add plan' event_id=event.pk %}#main_content" class="specialbutton">
                    <div>
                        Добавить план
                    </div>
                </a></li>
            {% endif %}
        {% for p in plans %}
            <li>
                <a href="{{ p.get_absolute_url }}#main_content"><h3>{{ p }}</h3></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}