{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{% url 'events' %}"><</a> {{ event }}</h1>

    <br>

    <p>
    {{ event.description }}
    </p>

    <hr>

    <h3>Свойства</h3>

    <ul>
        <li>
            Тип мероприятия: {{ type }}
        </li>
            <li>
            Уровень мероприятия: {{ level }}
        </li>

        <li>
            Статус: {{ weorg }}
        </li>
    </ul>

        <hr>

    <h3>Планы</h3>
{% comment %}    <ul>
    <li>
        <a href="{% url 'add plan' %}">Добавить новое мероприятие</a>
    </li>
        {% for e in events %}
            <li>
                <a href="{{ e.get_absolute_url }}"><h3>{{ e.title }}</h3></a>
            </li>
        {% endfor %}
    </ul>{% endcomment %}

{% endblock %}