{#{% extends 'events/base.html' %}#}
{##}
{#{% block content %}#}
{##}
{#    <h1>Хранители мудрости</h1>#}
{#    Мы студенты колледжа «ТИСБИ».#}
{#    С 1996 года наше учебное заведение является участником международного проекта#}
{#    «Ассоциированные школы ЮНЕСКО". Благодаря этому в 2014 году сформировалась#}
{#    команда творческих студентов-активистов «Хранители мудрости». Мы не только#}
{#    получаем среднее профессиональное образование, но и учимся работать в команде.#}
{##}
{#    <br>#}
{#    <hr>#}
{##}
{#    <h2>Последние события</h2>#}
{#    <ul>#}
{#    {% for r in reports %}#}
{#        <li>#}
{#            <a href="{% url 'report' report_id=r.pk %}">{{ r }}</a>#}
{#            <h3>{{ r }}</h3>#}
{#            <p>#}
{#                {{ r.content|linebreaks|truncatewords:15 }}#}
{#            </p>#}
{#            <a href="{% url 'report' report_id=r.pk %}">Подробнее</a>#}
{##}
{#        </li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}
{% extends 'events/styledbase.html' %}
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>zack</title>#}
{#    <link rel="stylesheet" href="{% static 'events/css/index.css' %}">#}
{#</head>#}
{% block styles %}
    <link rel="stylesheet" href="{% static 'events/css/index.css' %}">
{% endblock %}

{% block content %}
<header>
    <a href="/"><img class="logo" src="{% static "events/images/logo.ico" %}" alt="Guardians Logo"></a>
    <nav class="navigation">

        <a href="#">Главная</a>
        <a href="{% url 'plans' %}" {#class="active"#}>План мероприятий</a>
        <a href="#">Для хранителя</a>

        <a href="#">О нас</a>
        <a href="#">Профиль</a>
    </nav>
</header>
<section class="parallax">
    <img src="{% static 'events/images/0.jpg' %}" id="hd1">


    <h2 id="text">Хранители Мудрости</h2>
</section>
<section class="sec">
    <h2>Главная страница</h2>
    <p>

        -Добрый день, мы экологическая команда «Хранители Мудрости», студенты колледжа «ТИСБИ» и сегодня расскажем вам о
        деятельности и достижениях нашей команды.
        <br>
        <br>

        -С 1996 года наш колледж является участником международного проекта «Ассоциированные школы Юнеско».
        <br>
        <br>

        Нашу деятельность курирует исполнительный директор этого проекта в РФ Ларионова Наталья Борисовна.
        <br>
        <br>

        - Благодаря этому в 2014 сформировалась команда творческих студентов-активистов «Хранители мудрости», которые
        под руководством старшего преподавателя Аввакумовой Яны Семеновны постоянно участвуют в мероприятиях
        международного и всероссийского уровня.
        <br>
        <br>

        -За основу в своей работе команда взяла два направления:<br>
        • Охрана окружающей среды, ее изучение и уход за объектами природы. Сова как символ мудрости стала нашим
        проводником в мир экологии.<br>
        • Изучение культурного, всемирного наследия и его сохранение.<br>
        <br>
        <br>

        -Каждую неделю «Хранители Мудрости» проводят собрания, где обсуждают, как собрать все крышечки и батарейки всего
        мира и побеждать в международных олимпиадах и конкурсах.
        <br>
        <br>

        -Ежегодно мы проводим ряд лекций, семинаров и мастер-классов, направленных на экологическое воспитание наших
        студентов. В процессе этих мероприятий, мы рассказываем студентам об экологических проблемах и их решениях, учим
        сортировать пластик и дарить старым, забытым вещам новую жизнь.
        <br>
        <br>


        -Также мы проводим экологические уроки для школьников, чтобы молодое поколение ещё со школьной парты проявляло
        интерес с проблемами природы. Хранители участвуют во множествах мероприятий: это олимпиады, квесты, конкурсы,
        где мы занимаем призовые места.
        <br>
        <br>

        В пример можно привести:<br>
        - имитационно-ролевую игру «Глобальный вопрос». Здесь мы примерили на себя роли президента, министра экономики,
        министра культуры, министр общественных связей, министр международных отношений<br>
        - олимпиаду «Великие реки мира», где мы занимали 1 и 3 места, а также становились победителями творческого и
        исследовательского туров!<br>
        <br>

        - Международный форум молодежных социальных инициатив «Просто действовать», где мы неоднократно становились
        обладателями гран-при на конкурсе видеороликов, также победителями заочного тура.<br>
        -Папка - важный атрибут в сумке каждого ученика и рабочего, она поможет вам собрать ваши документы, доклады и
        просто важные вещи воедино. Запустив акцию «Папки во благо» мы спасаем папки от попадания на свалку и от лишнего
        мусора на Земле.<br>
        -В нашем колледже существует полка для «Буккросинга», её суть состоит в том, чтобы студенты могли свободно
        обмениваться книгами, с удовольствием читать и беречь их.<br>
        <br>

        -Эти конкурсы, олимпиады, проекты, квесты вдохновили нас на создание собственного веб-квеста для учащихся АШЮ со
        всей России. Проводим мы его с 2017 года, тематика квеста меняется, но цель одна – привлечь внимание к проблемам
        сохранения окружающей среды.
        <br>
        <br>

        -Это мощный шаг вперед в развитии команды, ведь организация своего проекта предполагает гораздо больше
        ответственности, но ребята с этим справились. В прошлом году, например, школы и детские сады проходили квест «По
        следам климатологов», который был разработан «Хранителями Мудрости». В этом году нас ждет новый квест.
        <br>
        <br>

        В 2018 году наша команда «Хранители мудрости» задумалась о привлечении внимания обучающихся к архитектурным
        ценностям родного края и связи с этим был разработан квест-экскурсия «Хроники прошлого или дневник
        гимназистки»).
        <br>
        <br>

        За это время в нем приняло участие 832 студента. А в 2022 году мы организовали квест «Хроники прошлого или
        дневник гимназистки» для обучающихся средних профессиональных учреждений Республики Татарстан, в котором квесте
        приняли участие студенты из Казани, Арска, Набережных Челнов и Алексеевска.


    </p>

        <h2>Последние события</h2>
    <ul>
    {% for r in reports %}
        <li>
            <a href="{% url 'report' report_id=r.pk %}">{{ r }}</a>
            <h3>{{ r }}</h3>
            <p>
                {{ r.content|linebreaks|truncatewords:15 }}
            </p>
            <a href="{% url 'report' report_id=r.pk %}">Подробнее</a>

        </li>
    {% endfor %}
    </ul>

</section>




{% endblock %}