{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{{ plan.event.get_absolute_url }}"><</a> {{ plan }}</h1>
    <a href="{% url 'edit plan' event_id=plan.event.pk plan_id=plan.pk %}">Редактировать</a>

    <br>

    <p>
    {{ plan.event.description }}
    </p>

    <hr>

    <h3>Свойства</h3>

    <ul>
        <li>
            Тип мероприятия: {{ type }}
        </li>
            <li>
            Уровень мероприятия: {{ level }}
        </li>

        <li>
            Статус: {{ weorg }}
        </li>
    </ul>

        <hr>

{#    <h3>План: {{ plan.year }}, {{ plan.month }}</h3>#}
    <h3>Расписание: </h3>

    {% if shedule %}
        {{ shedule }}
        <br>
        <a href="{% url 'edit shedule' event_id=plan.event.pk plan_id=plan.pk %}"> Изменить</a>

    {% else %}
        План не в расписании.
        <br>
        <a href="{% url 'create shedule' event_id=plan.event.pk plan_id=plan.pk %}"> Добавить?</a>
    {% endif %}



{% endblock %}