{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{{ plan.event.get_absolute_url }}"><</a> {{ plan }}</h1>

    <br>

    <p>
    {{ plan.event.description }}
    </p>

    <hr>

    <h3>Свойства</h3>

    <ul>
        <li>
            Тип мероприятия: {{ type }}
        </li>
            <li>
            Уровень мероприятия: {{ level }}
        </li>

        <li>
            Статус: {{ weorg }}
        </li>
    </ul>

        <hr>

    <h3>План: {{ plan.year }}, {{ plan.month }}</h3>

    {% if result %}
        {{ result }}
        <br>
        Тут картинки
        <br>
        А тут отчет
    {% else %}
        Произошло? Добавить!
    {% endif %}



{% endblock %}