{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{{ returnto }}"><</a> Галерея: {{ report }}</h1>

    <br>

    <hr>

            <ul>
            {#    <li>#}
            {#        <ul><a href="{% url 'add plan' event_id=event.pk %}">Добавить план</a></ul>#}
            {#    </li>#}
            {% for image in images %}
                <li>
                    <img src="{{ image.image.url }}" style="max-width: 40%">
                    <a href="{% url 'delete image' image_id=image.pk %}?returnto={{ request.path }}">Удалить</a>
                </li>
            {% endfor %}
        </ul>

    <form id="upload_new" action="{{ request.path }}#upload_new" method="post" enctype='multipart/form-data'>

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Прикрепить</button>

    </form>

    <br>




{% endblock %}