{% extends 'events/base.html' %}

{% block content %}

    <h1>Хранители мудрости</h1>
    Мы студенты колледжа «ТИСБИ».
    С 1996 года наше учебное заведение является участником международного проекта
    «Ассоциированные школы ЮНЕСКО". Благодаря этому в 2014 году сформировалась
    команда творческих студентов-активистов «Хранители мудрости». Мы не только
    получаем среднее профессиональное образование, но и учимся работать в команде.

    <br>
    <hr>

    <h2>Последние события</h2>
    <ul>
    {% for r in reports %}
        <li>
{#            <a href="{% url 'report' report_id=r.pk %}">{{ r }}</a>#}
            <h3>{{ r }}</h3>
            <p>
                {{ r.content|linebreaks|truncatewords:15 }}
            </p>
            <a href="{% url 'report' report_id=r.pk %}">Подробнее</a>

        </li>
    {% endfor %}
    </ul>
{% endblock %}