{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{% url 'plan' event_id=plan.event.pk plan_id=plan.pk %}"><</a> {{ event }}</h1>

    <br>

    {% if report_id %}
        <form action="{% url 'edit report' event_id=plan.event.pk plan_id=plan.pk report_id=report_id %}" method="post">

    {% else %}

        <form action="{% url 'create report' event_id=plan.event.pk plan_id=plan.pk %}" method="post">
    {% endif %}
{% csrf_token %}
{{ form.as_p }}

<button type="submit">{{ action }}</button>

</form>


{% endblock %}