{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{% url 'index' %}"><</a> Личный кабинет</h1>

    <br>

    <ul>

        <li>ФИО: {{ request.user.first_name }}</li>
        <li>Логин: {{ request.user.username }}</li>
        <li>Дата рождения: {{ request.user.student.birthday }}</li>
        <li>Группа: {{ request.user.student.group.title }}</li>
        <li>Номер телефона: {{ request.user.student.number }}</li>
        <li>Email: {{ request.user.email }}</li>

    </ul>


    Изменять последние два поля. Добавить фото

{% endblock %}