{% extends 'events/base.html' %}

{% block content %}

    <h1><a href="{% url 'index' %}"><</a> Q&A</h1>

    <p>
        1. Когда сформировалась команда творческих студентов-активистов "Хранители мудрости"?
        <br>
        Ответ: В 2014 году
    </p>

    <p>
        2. Какие направления за основу взяла команда "Хранители мудрости"?
        <br>
        Ответ: Охрана окружающей среды, ее изучение и уход за объектами природы. Изучение культурного, всемирного
        наследия и
        его сохранение.
    </p>
    <p>
        3. Участниками какого проекта является наш колледж?
        <br>
        Ответ: «Ассоциированные школы ЮНЕСКО».
    </p>
    <p>
        4. Когда была создана сеть ассоциированных школ ЮНЕСКО?
        <br>
        Ответ: В 1953 году.
    </p>
    <p>
        5. Что такое ЮНЕСКО?
        <br>
        Ответ: Специализированное учреждение Организации Объединённых Наций по вопросам образования, науки и культуры,
        включающая достопримечательности в список Всемирного наследия.
    </p>
    <p>
        6. Как "Хранители мудрости" просвещают студентов в сфере экологии?
        <br>
        Ответ: Проводят ряд лекций, семинаров и мастер-классов на экотематику
    </p>
    <p>
        7. С какого года наш колледж является участником международного проекта "Ассоциированные школы ЮНЕСКО"?
        <br>
        Ответ: С 1996 года.
    </p>
    <p>
        8. В каких мероприятиях участвует команда "Хранители мудрости"?
        <br>
        Ответ: В олимпиадах, квестах, конкурсах всероссийского и международного уровня
    </p>
    <p>
        9. Что изображено на эмблеме хранителей мудрости
        <br>
        Ответ: Сова и Земля
    </p>
    <p>
        10. что каждый год проводят хранители для новых студентов колледжа
        <br>
        Ответ: квест хроники прошлого или дневник гимназистки
    </p>
    <p>
        11. что считается золотом для хранителей мудрости
        <br>
        Ответ: крышечки и батарейки

    </p>
    <p>
        12. какие цели мы преследуем
        <br>
        Ответ: осознанная переработка мусора , польза субботников, проведение экоуроков,
        распространение полезных экопривычек

    </p>



{% endblock %}